body {
	background-color: #0A2A4F;
	color:white;
}
.landing {
	height: 100vh;
}
.main {
	/*background-color: #0A2A4F;*/
	color:white;
}

.sidebar {
	background-color:#0A2A4F;
	list-style: none;
	height: 100vh;
}
h4{
	margin-bottom:0;
}
a:hover{
	color: #DC143C;
	border-bottom: none;
	text-decoration: none;
}
a:active {
    color: #DC143C;
    text-decoration: none;
} 
.image{
	margin-left: 7%;
	width:25%;
	height:6%;
}
.modeSpace{
	margin-right: 19px;
}
.tog{
	background-color:#DC143C ;
}
.list{
	margin-right: 35%;
}
.m{
	color:white;
}
.mm{
	padding-right: 2%;
}
.mode{
	padding-top: 20px;
}
.fullystudios{
	margin-right: 2%;
}
.htmlLink{
	color: white;
}
.html5{
	margin-top: 15%;
}
.frame{
	display: flex;
	justify-content: center;
	align-self: center;
	margin-top: -30px;
	flex-grow: 1;
}
@media(max-width: 200px){
	.m{
		margin-bottom: 0;
		margin-top: 0;
	}
}